@charset "utf-8";

@media print { 
	
main img {
	-webkit-filter: grayscale(100%); 
	 filter: grayscale(100%);
}
	
img {
		padding: 20px;
}
	
button, .button {
	display: none;
}
	
form {
		display:none;
}	
	
 header, footer, nav {
	display: none;
	} 


main {
	margin-top: 10px;
}
	
#qr {
		display: block;
		width: 150px;
		margin: 0px auto;
}
	
.qr {
	margin-top: 20px;
	display: block;
}
}

